@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

* {
  box-sizing: border-box;
  overflow: hidden;
  margin: 0;
}

::selection {
  background-color: #000000;
  color: #fff;
}

button {
  padding: 0.5rem 1rem;
  font-weight: 700;
  font-size: larger;
  transition: all 300ms ease;
}

button:hover {
  color: rgb(87, 194, 30);
}

.canvas-container {
  position: relative;
  width: 200px;
  height: 300px;
  margin-top: 200px;
}

.contact-container {
  margin-bottom: 10rem;
}